extends ../layout/index

block contenido
    div(class="py-5")
        h1(class="text-3xl my-5 font-extrabold text-center") Centro 
            span(class="font-normal") Oftalmológico
        h2(class="text-center text-2xl font-extrabold")= pagina

        div(class="mt-5 mx-auto max-w-md")
            div(class="bg-white py-8 px-4 shadow rounded")
                form(action="" method="POST" class="space-y-6")
                    //- AÑADIR EL INPUT HIDDEN DE CSRF
                    div
                        label(class="block text-sm uppercase text-slate-600 mb-2 font-bold" for="correo") Correo de Registro
                        input(class="w-full px-3 py-2 border border-slate-300 rounded-md placeholder-slate-400" placeholder="Tu Correo" type="email" name="correo")
                    
                    div(class="flex items-center justify-between px-1")
                        a(href="/auth/login" class="text-slate-400 text-xs") ¿Ya tienes cuenta? 
                            span(class="text-indigo-800") Inicia Sesión
                        a(href="/auth/registro" class="text-slate-400 text-xs") ¿No tienes cuenta? 
                            span(class="text-indigo-800") Crea una
                    
                    input(class="font-boton w-full bg-blue-400 hover:bg-blue-500 text-white font-bold py-3 cursor-pointer rounded-sm" type="submit" value="Enviar Instrucciones")